$main-color: #fff;
$main-text-color: #212121;
$second-text-color: #757575;
$special-color: #2196f3;
$main-font: "Roboto", sans-serif;
$bg-hero-footer: #2f303a;
$bg-team-filter: #f5f4fa;
$basic-card-gap: 30px;